/*---styling of the body---*/

.container{
	width: 100%;
	margin: 0 auto;
	padding: 2% auto;
	font-family: comic sans MS, georgia, serif;
	font-size: 1em;
	line-height: 1.5em;
	background: linear-gradient(#e5def9, #b69fe2);
}

/*---headline one styling---*/
h1{
	font-family: comic sans MS, georgia, serif;
	color: #652c90;
	width: 400px;
	border: 2px solid #652c90;
	padding: 5px 5px 5px 5px;
	margin: 5px auto;
	box-shadow: 2px 2px 2px 1px #902aa8;
	text-align: center;
	text-shadow: 1px 2px 1px #902aa8;
	border-radius: 5px;	
	background-image: url("../images/waves.gif");
}

div#content{
	float:left;
	width: 60%;
	margin: 1%;
	font-family: comic sans MS, georgia, serif;
	color: #505051;
	text-align: justify;
}

div#names{
	float:left;
	width: 45%
	margin-left: 5%;
	padding: 2%;
	font-family: comic sans MS, georgia, serif;
	color: #17a572;
}

div#pictures{
	display: inline;
	margin-right: 2%;
}


/*---headline two styling---*/
h2{
	width: 40%;
	font-family: comic sans MS, georgia, serif;
	color: #17a572;
}

/*---headline three styling---*/
h3{
	width: 20%;
	margin: 1%;
	font-family: comic sans MS, georgia, serif;
	color: #ba2d9c;	
	font-weight: bold;
	text-align: left;
}

/*---paragraph styling---*/


/*---both ordered and unordered lists styling---*/
ul, ol{
	font-family: comic sans MS, georgia, serif;
	color: #17a572;
}



/*---captions for gallery styling---*/
figcaption{
	font-family: comic sans MS, georgia, serif;
	color: #ba2d9c;
	font-style: italic;
	font-weight: bold;
}

/*---colors for links---*/
a:link{
	color: #ba2d9c;
	}
a:visited{
	color: #9ca00a;
}
a:hover{
	color: #54c6a0;
}
a:active{
	color: #b21275;
}